
@{
    Layout = null;
}

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                <img src="/img/ZLogo.png" width="30" height="30" /> Z Sözlük 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Sozluk" asp-action="Index">Tartışmalar</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <label class="m-sm-4 "></label>
                    <ul class="navbar-nav">
                        <partial name="_LoginInfo">
                    </ul>
                </form>
            </div>
        </nav>
    </header>