@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{   
        <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b class="text-white">@User.Identity.Name</b>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-action="MyProfile" asp-controller="Sozluk">Profilim</a>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Çıkış Yap</a>
            </div>
        </li>
}
else
{

<li class="nav-item">
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary badge-pill">Giriş</a>
    <a asp-controller="Account" asp-action="Signup" class="btn btn-primary badge-pill">Kayıt Ol</a>
</li>
}

