<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Selam Admin!</h1>
        <p class="lead">Z Sözlüğün Admin Paneline Hoşgeldin !!</p>
        <hr />
        <p>
            Bu panel henüz tamamlanmadı. Tamamlanan özellikleri navbar kısmında görebilirsin. Şikayetler bölümü eklenecek..
        </p>
    </div>
</div>